# secretos — NUNCA subir
.env
.env.local
.env.*.local
*.pem
*.key

# supabase
supabase/.branches
supabase/.temp
supabase/.env

# dependencias / build
node_modules/
dist/
.expo/
web-build/

# sistema
.DS_Store
Thumbs.db
*.log

.wrangler/
push_to_github.bat
push_log.txt
fix_and_push.bat
fix_log.txt
push_fix.bat
push_fix_log.txt
push_fix2.bat
push_fix2_log.txt
push_fix3.bat
push_fix3_log.txt
